<!DOCTYPE html>
<html>
  <head>
    <title>KnowAfrika API</title>
    <link rel="stylesheet" href="/templates/styles/landing_page.css" />
    <link rel='shortcut icon' href="/templates/images/knowafrika_113603.jpg" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- START NAV -->

    <nav id="navbar" class="nav">
      <ul class="nav-list">
        <li>
          <a href="#welcome-section">Home</a>
        </li>
        <li>
          <a href="#projects">Features</a>
        </li>
        <li>
          <a href="#contact">About</a>
        </li>
      </ul>
    </nav>

    <!-- END NAV -->

    <!-- START WELCOME SECTION -->
    
    <section id="welcome-section" class="welcome-section">
      <img src="/templates/images/KnowAfrika_background.jpg" alt="Home page background picture">
      <h1>KnowAfrika API</h1>
      <p>Accessible API to Know Africa</p>
    </section>

    <!-- END WELCOME SECTION -->

    <!-- START PROJECTS SECTION -->

    <section id="projects" class="projects-section">
      <h2 class="projects-section-header">Explore Our Features</h2>

      <div class="projects-grid">
        <a
          href="http://127.0.0.1:8000/technical_documentation"
          target="_blank"
          class="project project-tile"
        >
          <img
            class="project-image"
            src="https://t4.ftcdn.net/jpg/03/74/81/03/360_F_374810365_ImxdBLpAbUdOVrf2HorZeQBLI66WC0EL.jpg"
            alt="project"
          />
          <p class="project-title">
            <span class="code">&lt;</span>
            Technical Documentation
            <span class="code">&#47;&gt;</span>
          </p>
        </a>
        <a
          href="http://127.0.0.1:8000/docs"
          target="_blank"
          class="project project-tile"
        >
          <img
            class="project-image"
            src="https://img.freepik.com/premium-vector/application-programming-interface-api-blue-background-software-development-tool-information-t_666034-569.jpg"
            alt="project"
          />
          <p class="project-title">
            <span class="code">&lt;</span>
            API
            <span class="code">&#47;&gt;</span>
          </p>
        </a>
	<a
          href="http://127.0.0.1:8000/redoc"
          target="_blank"
          class="project project-tile"
        >
          <img
            class="project-image"
            src="https://redocly.com/assets/story-2018.c56386cca7c3079e789ab5acdc9309135309d0020117382f4cc2eecbf087b6c1.59ae48bf.png"
            alt="project"
          />
          <p class="project-title">
            <span class="code">&lt;</span>
            API Docs
            <span class="code">&#47;&gt;</span>
          </p>
        </a>

        <a
          href="https://github.com/samuelselasi/KnowAfrika-API.git"
          target="_blank"
          class="project project-tile"
        >
          <img
            class="project-image"
            src="https://images.unsplash.com/photo-1618401479427-c8ef9465fbe1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z2l0aHVifGVufDB8fDB8fHww&w=1000&q=80"
            alt="project"
          />
          <p class="project-title">
            <span class="code">&lt;</span>
            Directory
            <span class="code">&#47;&gt;</span>
          </p>
        </a>
	    <a
          href="https://docs.google.com/presentation/d/1ELv697qWH2gBRuk7LDHxSD9hv9EreUv2KfjdNNUIHNs/edit#slide=id.g134ea93b858_2_91" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"
          target="_blank"
          class="project project-tile"
        >
          <img
            class="project-image"
            src="/templates/images/KnowAfrika_API.jpg"
            alt="project"
          />
          <p class="project-title">
            <span class="code">&lt;</span>
            Presentation
            <span class="code">&#47;&gt;</span>
          </p>
        </a>
        <a
          href="https://docs.google.com/presentation/d/1ELv697qWH2gBRuk7LDHxSD9hv9EreUv2KfjdNNUIHNs/edit#slide=id.g134ea93b858_2_91" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"
          target="_blank"
          class="project project-tile"
        >
          <img
            class="project-image"
            src="/templates/images/KnowAfrika_demo_image.jpg"
            alt="project"
          />
          <p class="project-title">
            <span class="code">&lt;</span>
            Demo
            <span class="code">&#47;&gt;</span>
          </p>
        </a>
    </section>

    <!-- END PROJECTS SECTION -->

    <!-- START CONTACT SECTION -->

    <section id="contact" class="contact-section">
      <div class="contact-section-header">
        <h2>About Us</h2>
	<p>The inception of the KnowAfrika API was motivated by our aspiration to offer a solution</br>
       focused on acquiring a deeper understanding of Africa through an API service.</br>
	   We firmly believe in the transformative potential of technology to democratize information.</br>
	   Our overarching mission is to enhance the accessibility of information about Africa,</br>
	   making it readily available to individuals not only across the continent but also worldwide.</br>
	</p>
	</br>
      </div>
      <div class="contact-section-header">
        <h2>Let's work together...</h2>
        <p>Find us on these platforms</p>
      </div>
      <div class="contact-links">
        <h4>Samuel Selasi</h4>
        <a
          id="profile-link"
          href="https://github.com/samuelselasi/KnowAfrika-API.git"
          target="_blank"
          class="btn contact-details"
          ><i class="fab fa-github"></i> GitHub</a
        >
        <a
          href="https://twitter.com/selskvie"
          target="_blank"
          class="btn contact-details"
          ><i class="fab fa-twitter"></i> Twitter</a
        >
        <a href="mailto:samelsekasi@gmail.com" class="btn contact-details"><i class="fas fa-at"></i> Send a mail</a
        >
        <a href="tel:0505685798" class="btn contact-details"
          ><i class="fas fa-mobile-alt"></i> Call</a
        >
      </div>
      <div class="contact-links">
        <h4>Stacy Gakiria</h4>
        <a
          id="profile-link"
          href="https://github.com/SKGakiria"
          target="_blank"
          class="btn contact-details"
          ><i class="fab fa-github"></i> GitHub</a
        >
        <a
          href="https://twitter.com/SKGakiria"
          target="_blank"
          class="btn contact-details"
          ><i class="fab fa-twitter"></i> Twitter</a
        >
        <a href="mailto:swagkiria@gmail.com" class="btn contact-details"><i class="fas fa-at"></i> Send a mail</a
        >
      </div> 
    </section>

    <!-- END CONTACT SECTION -->

    <!-- START FOOTER SECTION -->

    <footer>
      <p>
        Alx SE Portfolio Project
      </p>
      <p>
        &copy; 2023
        <a href="https://github.com/samuelselasi/KnowAfrika-API.git" target="_blank"
          >KnowAfrika API</a>
      </p>
    </footer>

    <!-- END FOOTER SECTION -->
  </body>
</html>
